#///////////////////////////
# Cocos Creator
#///////////////////////////
library/
temp/
local/
build/
profiles/
native

# Local editor cache
.creator/

# OS junk
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# IDE
#//////////////////////////
.vscode/
.idea/
*.iml
